.svn/
target/
test-output/
*.class
.classpath
.springBeans
.project
.settings/
tmp
temp
*.log
antx.properties
otter.properties
jtester.properties
.idea
*.iml
.DS_Store
*.tar.gz
*.rpm
*.exe
jvmdump4k8s